.logo {
  width: 40px;
}

.app-header {
  display: flex;
  width: 100%;
}

.app-title {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin: 0 1em;
}

.app-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: CALC(100vh - 64px);
}

.file-bar {
  width: 30%;
  min-width: 185px;
  padding: 1.5em;
}

.token-list {
  width: 25%;
  padding-left: 1.5em;
  min-width: 185px;
  overflow-y: auto;
  height: 100%;
}

.footer {
  background-color: #c4c4c4;
}
